<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">


    <title>{{ _("Flashcards") }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/flashcard/desktop/flashcard.css') }}">
</head>

<body>

<!-- TOP BAR -->
<div class="top-bar">

    <div class="top-left">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="{{ _("Logo") }}">
        <div class="brand">{{ _("Master It Now") }}</div>
    </div>

    <div class="top-right">
        <div class="shortcut-toggle">
            <label class="shortcut-switch">
                <input type="checkbox" id="shortcutToggle" checked aria-label="{{ _('Enable keyboard shortcuts') }}">
                <span class="slider"></span>
            </label>
            <span class="shortcut-label">{{ _("Keyboard shortcuts") }}</span>
        </div>

        <a class="back-button" href="{{ url_for('flashcard.end_flashcard', set_id=set_id) }}" aria-label="Back">
            <span><img src="{{ url_for('static', filename='buttons/back_button.png') }}"></span>
        </a>
    </div>

</div>

<!-- MAIN LAYOUT -->
<main class="layout">

    <!-- CENTER ZONE -->
    <div class="center-zone">

        <div class="card-container">
            <div class="flashcard" id="flashcard" onclick="flipCard()">

                <!-- FRONT -->
                <div class="card-face front">
                    <div class="title">{{ _("Term") }}</div>
                        
                            <button
                                class="edit-button"
                                onclick="event.stopPropagation(); openModal();"
                                type="button">
                                <span>✏️</span>
                            </button>

                            <button
                                class="audio-button"
                                onclick="event.stopPropagation(); playAudio();"
                                type="button">
                                <span>🔊</span>
                            </button>
                    
                    {% if front_image %}
                    <div class="front-image">
                        <img src="{{ url_for('flashcard.uploaded_file', filename=front_image) }}" alt="Front Image">
                    </div>
                    {% endif %}

                    <div class="content" id="term">
                        {{ term }}
                    </div>
                    <div class="hint">{{ _("Tap/Space to flip") }}</div>
                </div>

                <!-- BACK -->
                <div class="card-face back">

                    <div class="card_number">#{{ index }}</div>

                    {% if example or notes %}
                    <div class="back-content">
                        <div class="info-section">
                            <div class="section-title">{{ _("Definition") }}</div>
                            <p>{{ definition }}</p>
                        </div>

                        {% if example %}
                        <div class="info-section">
                            <div class="section-title">{{ _("Example") }}</div>
                            <p>{{ example }}</p>
                        </div>
                        {% endif %}

                        {% if notes %}
                        <div class="info-section">
                            <div class="section-title">{{ _("Notes") }}</div>
                            <p>{{ notes }}</p>
                        </div>
                        {% endif %}

                    </div>
                    {% else %}
                    <div class="title">{{ _("Definition") }}</div>
                        
                    <div class="content" id="definition">
                        {{ definition }}
                    </div>
                    {% endif %}
                    
                    <div class="hint-container">
                        <div class="hint">{{ _("Tap/Space to flip") }}</div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- BOTTOM ZONE -->
    <form method="POST" class="bottom-zone">

        <div class="btn-container">
            <p>{{ _("(1/W)") }}</p>
            <p>{{ _("Forgot/Don't know") }}</p>
            <button id="forgotBtn" type="submit" name="rating" value="forgot" class="btn forgot">
                {{ _("Forgot") }}
            </button>
        </div>

        <div class="btn-container">
            <p>{{ _("(2/A)") }}</p>
            <p>{{ _("Incorrect recall") }}</p>
            <button id="hardBtn" type="submit" name="rating" value="hard" class="btn hard">
                {{ _("Hard") }}
            </button>
        </div>

        <div class="btn-container">
            <p>{{ _("(3/D)") }}</p>
            <p>{{ _("Correct recall") }}</p>
            <button id="goodBtn" type="submit" name="rating" value="good" class="btn good">
                {{ _("Good") }}
            </button>
        </div>

        <div class="btn-container">
            <p>{{ _("(4/S)") }}</p>
            <p>{{ _("Fast recall") }}</p>
            <button id="easyBtn" type="submit" name="rating" value="easy" class="btn easy">
                {{ _("Easy") }}
            </button>
        </div>

    </form>

</main>

<!-- MODAL CONTENT -->
<div id="editModal" class="modal">
    <div class="modal-content">
        <h2>{{ _("Edit")}}</h2>
        <form method="POST" action="{{ url_for('flashcard.edit_flashcard', set_id=set_id, card_id=card_id) }}" class="edit-form" novalidate enctype="multipart/form-data">
            <!-- TERM ROW -->
            <div class="field-row">
                <label class="field-label">{{ _("Term") }}</label>
                <input type="text" name="term" class="term-input" value="{{ term }}">
            </div>

            <!-- DEFINITION ROW -->
            <div class="field-row">
                <label class="field-label">{{ _("Definition") }}</label>
                <input type="text" name="definition" class="definition-input" value="{{ definition }}">
            </div>
            
            <!-- EXAMPLE ROW -->
            <div class="field-row">
                <label class="field-label">{{ _("Example") }}</label>
                <input type="text" name="example" class="example-input" value="{{ example or '' }}" placeholder="{{ _('Enter example') }}">
            </div>

            <!-- NOTES ROW -->
            <div class="field-row">
                <label class="field-label">{{ _("Notes") }}</label>
                <textarea name="notes" class="notes-input" placeholder="{{ _('Enter notes') }}">{{ notes or '' }}</textarea>
            </div>

            <!-- FRONT IMAGE UPLOAD -->
            <div class="field-row">
                <label class="field-label">{{ _('Upload Front Image') }}</label>

                <div class="image-upload-row">
                    <input type="hidden" name="delete_image" value="0" id="deleteImageFlag">
                    <input type="file" name="front_image" accept="image/*">

                    <button type="button" class="delete-image" data-action="delete-image">
                        {{ _('Delete Image') }}
                    </button>
                </div>

                {% if front_image %}
                <div class="current-image-preview">
                    <img src="{{ url_for('flashcard.uploaded_file', filename=front_image) }}"
                        alt="{{ _('Front Image') }}">
                </div>
                {% endif %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-secondary" onclick="closeModal()">
                    {{ _("Cancel") }}
                </button>

                <button type="submit" class="btn-primary">
                    {{ _("Save") }}
                </button>
            </div>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/flashcard.js') }}" defer></script>

</body>
</html>

