<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Remember It Now{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/top_bar.css') }}">
</head>

<body>

<div class="top-bar">
    <div class="top-left">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="Logo">
        <div class="center-text">Remember It Now</div>
    </div>
</div>

<div class="page-content">
    {% block content %}{% endblock %}
</div>

</body>
</html>